<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
		<link rel="stylesheet" href="{{ asset('css/auth.css') }}">
	</head>
	<body>
		<div class="form-content shadow-lg">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<h1 class="text-center">Inscription</h1>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

			<button type="submit" class="btn btn-success mt-3 w-100">Inscription</button>
			{{ form_end(registrationForm) }}
		</div>
	</body>
</html>
