{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="titreindex">Liste des catégories de jeu</h1>
    <div class="container">
    <div class="card text-left shadow-lg">
      <img class="card-img-top" src="holder.js/100px180/" alt="">
      <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                            <button onclick="window.location.href ='{{ path('category_show', {'id': category.id}) }}'"type="button" class="far far fa-eye"></button>
                            <button onclick="window.location.href ='{{ path('category_edit', {'id': category.id}) }}'"type="button" class="far fa-edit"></button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button onclick="window.location.href ='{{ path('category_new') }}'"type="button" class="btn btn-dark">
            Ajouter une catégorie
        </button>
      </div>
    </div>
    </div>
{% endblock %}
