{% extends 'base.html.twig' %}

{% block title %}Liste des jeux vidéos
{% endblock %}

{% block body %}
	<div class="container">
		
		<div class="card text-left shadow-lg">
			<div class="card-header">
				<h3 class="titreindex">Liste des jeux vidéos</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								
								<th>Name</th>
								<th>Price</th>
								<th>Image</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for video_game in video_games %}
								<tr>
									
									<td>{{ video_game.name }}</td>
									<td>{{ video_game.price }}</td>
									<td>{{ video_game.image }}</td>
									<td>
										<a href="{{ path('video_game_show', {'slug': video_game.slug}) }}" class="btn btn-info">
											<i class="far fa-eye"></i>
										</a>
										<a href="{{ path('video_game_edit', {'id': video_game.id}) }}" class="btn btn-warning">
											<i class="far fa-edit"></i>
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<button onclick="window.location.href ='{{ path('video_game_new') }}'" type="button" class="btn btn-dark">
					Ajouter un jeu
				</button>
			</div>
		</div>
	</div>
{% endblock %}
