{% extends 'base.html.twig' %}

{% block title %}VideoGame
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-left shadow-lg">
			<div class="card-header">
				<h3 class="titreindex">{{ video_game.name }}</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Name</th>
								<td>{{ video_game.name }}</td>
							</tr>
							<tr>
								<th>Price</th>
								<td>{{ video_game.price }}</td>
							</tr>
							<tr>
								<th>Image</th>
								<td>{{ video_game.image }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="w-100 text-center">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ video_game.description }}</td>
							</tr>
						</tbody>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="card-footer text-center">
	<div class="d-flex mt-3 justify-content-center flex-wrap">
		<a href="{{ path('video_game_index') }}" class="btn btn-dark">
			<i class="fa fa-arrow-left"></i>
		</a>

		<a href="{{ path('video_game_edit', {'id': video_game.id}) }}" class="btn btn-dark ml-1">
			<i class="fa fa-edit"></i>
		</a>

		{{ include('video_game/_delete_form.html.twig') }}
	</div>
</div></div></div>{% endblock %}
