{% extends 'base.html.twig' %}

{% block title %}GameKey index{% endblock %}

{% block body %}
    <h1 class ="titreindex">GameKey index</h1>
<div class="container">
<div class="card text-left shadow-lg">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Key</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_key in game_keys %}
            <tr>
                <td>{{ game_key.id }}</td>
                <td>{{ game_key.gameKey }}</td>
                <td>
                    <button onclick="window.location.href '{{ path('game_key_show', {'id': game_key.id}) }}'"class="far fa-eye"></button>
                    <button onclick="window.location.href '{{ path('game_key_edit', {'id': game_key.id}) }}'"class="far fa-edit"></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
    <a href="{{ path('game_key_new') }}"class="btn btn-dark mt-3">Create new</a>
</div>



{% endblock %}
