{% extends 'base.html.twig' %}

{% block title %}GameKey
{% endblock %}

{% block body %}
	<h1 class="titreindex">GameKey</h1>
	<div class="card text-left shadow-lg">
		<img class="card-img-top" src="holder.js/100px180/" alt="">
		<div class="card-body">
			<div class="table-responsive">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ game_key.id }}</td>
							</tr>
							<tr>
								<th>Key</th>
								<td>{{ game_key.gameKey }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex">
		<a href="{{ path('game_key_index') }}" class="btn btn-dark mt-3"=>back to list</a>

		<a href="{{ path('game_key_edit', {'id': game_key.id}) }}" class="btn btn-dark mt-3 ml-3">edit</a>

		{{ include('game_key/_delete_form.html.twig') }}
	</div>
{% endblock %}
